.scan-container {
   width: 100%; /* Ensure the container takes up the full width */
  display: flex;
  justify-content: center   ;/* Hide any overflow if the image exceeds container size */
  }
  
  .full-width-image {
    width: 80%; /* Make the image fill the width of its container */
    /* Maintain the aspect ratio of the image */
  }
  